<header class="app-header">
    <div class="logo">
      <img src="logo_slash.svg" alt="logo" class="logo-slash" />
      <img src="logo_text.svg" alt="moovee" class="logo-text" />
    </div>
    <img src="avatar.svg" alt="Avatar" class="avatar" />
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Help</h4>
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Legal stuff</h4>
      <ul>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Terms & conditions</a></li>
        <li><a href="#">Cookie policy</a></li>
        <li><a href="#">Gift cards</a></li>
      </ul>
    </div>
    <div class="footer-section last-section">
      <h4>Follow us</h4>
      <ul>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
    <img src="logo_slash.svg" alt="logo" class="logo-slash-footer" />
  </div>
</footer>
