/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Pacifico';
    src: url('/src/app/assets/fonts/Pacifico-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/src/app/assets/fonts/Poppins-Regular.ttf') format('truetype');
  }
  
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #1c1c1c;
    color: #fff;
  }